<ngx-spinner bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"></ngx-spinner>
<div class="full">
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div *ngIf="!this.hide" class="col-md-4 col-xl-5 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="img_cont">
                                <img id="img" [src]="'http://localhost:31000/api/profile/'+dp" class="rounded-circle user_img">
                            </div>
                            <input type="text" [(ngModel)]="group" name="group" id="text" class="form-control" placeholder="Group Name">
                        </div>
                    </div>
                    <h3 id="text2">Add Group Members</h3>
                    <button *ngIf="GroupData.length>0" id="button2" class="btn btn-info"  (click)="ViewGroupChat()"><i class="fas fa-info"> Group Chat </i></button>
                </div>
                <div class="card-body contacts_body">
                    <ul *ngFor="let details of ChatArray;let i =index" class="contacts">
                    <li class="active">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img [src]="'http://localhost:31000/api/profile/'+details?.profilePicture" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>{{details.username | titlecase}}</span>
                                <input id="radio" (change)="radioChange($event, details,i)" type="checkbox" >
                            </div>
                        </div>
                    </li>
                </ul>
                </div>
                
                </div>
                <button id="button1" class="btn btn-success" [disabled]="pushArray.length<=1" (click)="submitGroup()">Create</button>
            </div>
            <div *ngIf="this.hide" class="col-md-4 col-xl-5 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="img_cont">
                                <img id="img"[src]="'http://localhost:31000/api/profile/'+dp"  class="rounded-circle user_img">
                            </div>
                            <h3 id="text">  Group Chat</h3>
                        </div>
                    </div>
                    <br>
                    <input *ngIf="hide" [(ngModel)]="search" type="text" id="search" placeholder="Search..." name="" class="form-control search">
                </div>
                <div class="card-body contacts_body">
                    <ul *ngFor="let details of GroupData | Filter:search" class="contacts">
                    <li class="active">
                        <div (click)="onClick(details)"class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="{{details?.profilePicture}}" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div  class="user_info">
                                <span>{{details?.group_name | titlecase}}</span>
                                <p> Created at{{details?.group_Created | date:'short'}} </p>
                            </div>
                            <span id="groupDelete" ><i (click)="deleteGroup(details)" class="far fa-trash-alt"></i></span>
                        </div>
                    </li>
                </ul>
                </div>
                <div class="card-footer"></div>
            </div></div>
            <div *ngIf="this.hide1" class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>{{clickName | titlecase}}</span>
                                <p>{{lengthCheck}} Messages</p>
                            </div>
                            <div *ngFor="let member of members" class="video_cam">
                                <h4 id="members">{{member}}</h4>
                            </div>
                        </div>
                        <span id="action_menu_btn"><i (click)="deleteChat()" class="far fa-trash-alt"></i></span>
                        <div class="action_menu">
                            <ul>
                                <li><i class="fas fa-user-circle"></i> View profile</li>
                                <li><i class="fas fa-users"></i> Add to close friends</li>
                                <li><i class="fas fa-plus"></i> Add to group</li>
                                <li><i class="fas fa-ban"></i> Block</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        <div *ngFor="let mess of group_members1" class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
                            </div>
                            <div  class="msg_cotainer">
                                <h4>{{mess.message}}</h4>
                                <span class="msg_time">	{{mess.sender_id?.username | titlecase}}</span>
                                <span>	{{mess.created_at  | date:'short'}}</span>
                            </div>
                        </div>
                        <!-- <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                <span class="msg_time_send"></span>
                            </div>
                            <div class="img_cont_msg">
                        <img  class="rounded-circle user_img_msg">
                            </div>
                        </div> -->
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                            </div>
                            <textarea name="message" [(ngModel)]="message" class="form-control type_msg" placeholder="Type your message..."></textarea>
                            <div class="input-group-append">
                                <span class="input-group-text send_btn"(click)="sendMessage()"><i class="fas fa-location-arrow"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>