<ngx-spinner bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"></ngx-spinner>
<div class="full">
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <h1 id="text">Welcome To Global Chat</h1>
            <div  class="col-md-8 col-xl-9 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Global Chat</span>
                                <p>{{lengthCheck}} Messages</p>
                            </div>
                        </div>
                        <div class="action_menu">
                            <ul>
                                <li><i class="fas fa-user-circle"></i> View profile</li>
                                <li><i class="fas fa-users"></i> Add to close friends</li>
                                <li><i class="fas fa-plus"></i> Add to group</li>
                                <li><i class="fas fa-ban"></i> Block</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        <div *ngFor="let mess of messages" class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
                            </div>
                            <div  class="msg_cotainer">
                                <span id="action_menu_btn"><i (click)="deleteChat(mess._id)" class="far fa-trash-alt"></i></span>
                                <h4>{{mess.message}}</h4>
                                <span class="msg_time">	{{mess.sender_id?.username | titlecase}}</span>
                                <span >	{{mess?.created_at | date:'short'}}</span>
                            </div>
                        </div>
                        <!-- <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                <span class="msg_time_send"></span>
                            </div>
                            <div class="img_cont_msg">
                        <img  class="rounded-circle user_img_msg">
                            </div>
                        </div> -->
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                            </div>
                            <textarea name="message" [(ngModel)]="message" class="form-control type_msg" placeholder="Type your message..."></textarea>
                            <div class="input-group-append">
                                <span class="input-group-text send_btn"(click)="sendMessage()"><i class="fas fa-location-arrow"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>