 
  <link href="../../../assets/css/sb-admin.css" rel="stylesheet">

  <link rel="stylesheet" href="../../../assets/css/style.css">
 <div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Change Password</h2>
                    <form (submit)="changePassword()" class="form-horizontal" [formGroup]="changePasswordForm">
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input formControlName="password" type="text" name="password" class="form-control"  placeholder="Your Old Password"/>
                            <span *ngIf="!changePasswordForm.get('password').valid && changePasswordForm.get('password').touched" class="spanValid">Please enter your old Password</span>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input formControlName="newpassword" type="password" name="newpassword" class="form-control"  placeholder="NewPassword"/>
                            <span *ngIf ="!changePasswordForm.get('newpassword').valid && changePasswordForm.get('newpassword').touched" class="spanValid">Please enter your New Password</span>
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input formControlName="repassword" type="password" name="pass" class="form-control"  placeholder="Repeat your password"/>
                            <span *ngIf="!changePasswordForm.get('repassword').valid && changePasswordForm.get('repassword').touched" class="spanValid"></span>
                        </div>
                        <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <button [disabled]="!changePasswordForm.valid" id="btn-signup" value="submit" type="submit" class="btn btn-primary"><i class="icon-hand-right"></i>Change Password</button>
                                    </div>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="../../../assets/images/signup-image.jpg" alt="sing up image"></figure>
                    <a routerLink="/login" class="signup-image-link">Login</a>
                </div>
            </div>
        </div>
    </section>
</div>